@font-face {
  font-family: 'Angelicdassi';
  src: url('https://github.com/cagdasmetin/haggadah/raw/refs/heads/v4/AngelicdassiRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Angelicdassi', serif;
}
