@font-face {
  font-family: 'Angelicdassi';
  src: url('https://github.com/cagdasmetin/haggadah/raw/refs/heads/v4/AngelicRegular.woff2') format('woff2');
	url('https://github.com/cagdasmetin/haggadah/raw/refs/heads/v4/AngelicRegular.woff') format('woff');
  font-weight: 100
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Angelic', serif;
}
