@font-face {
  font-family: 'Angelicdassi';
  src: url('https://github.com/cagdasmetin/haggadah/raw/refs/heads/v4/AngelicRegular.woff2') format('woff2');
	url('https://github.com/cagdasmetin/haggadah/raw/refs/heads/v4/AngelicRegular.woff') format('woff');
  font-weight: 100
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Angelic', sans-serif !important;
}


body, main, article, section, header, footer,
.markdown-preview-view, .markdown-preview-section, 
h1, h2, h3, h4, h5, h6,
p, li, span, div, blockquote, code, em, strong {
  font-family: 'Angelic', sans-serif !important;
  letter-spacing: 0.5px;
  line-height: 1.6;
}