@font-face {
  font-family: 'Angelic';
  src: 

url('https://files.catbox.moe/coff99.woff2') format('woff2');
url('https://files.catbox.moe/3t0iz7.woff') format('woff');

  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Angelic', sans-serif !important;
}


body, main, article, section, header, footer,
.markdown-preview-view, .markdown-preview-section, 
h1, h2, h3, h4, h5, h6,
p, li, span, div, blockquote, code, em, strong {
  font-family: 'Angelic', sans-serif !important;
  letter-spacing: 0.5px;
  line-height: 1.6;
}